<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=!, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%=include('partials/header.ejs')%>
    <h3>numChars: <%= charLength %>,</h3>
    <h3>lessThanFive: <%= wordLessThanFive %>,</h3>
    <h3>moreThanFive: <%= wordMoreThanFive %>,</h3>
    <h3>equalFive: <%= wordWithFive %>,</h3>
    <h3>sentenceLen: <%= sentence.length %>,</h3>
    <h3>wordLen: <%= words.length %>,</h3>
    <h3>wordsAEIOU: <%= wordsWithLetter %>,</h3>

</body>
</html>